/**
 * Site header
 */
@media screen and (min-width:400px) {

    .site-header {

        border: green solid 2px; 

        min-height: 56px;
        height: 300px;
     
        max-width: 960px;
        margin: 0 auto;

        // Positioning context for the mobile navigation icon
        position: relative;
    }

    .pages {

        color: 808d8e;
    /*  float: right; */

    }

    .link-pages {

    /*    float: right; */
        position: absolute;
        margin: 0 auto;
        top: 100px;
        word-spacing: 50px; 


    }

}

/**
* site content
*/
@media screen and (min-width:600px) {  /* responsive command */
.content {

//    border: green 5px solid; 

    margin: 0 auto;
    margin-bottom: 100px;

    max-width: $content-width;

    position: relative;

    
}



    .logo {
        
        
        width: 350px;
        height: 0 auto;
        top: 1px;

        border-bottom: grey 2px solid;
       
        > p {

            margin-bottom:  30px;
            font-family: $base-font-family;
            color: #3A6B83;
        }
       
       > img {

            margin-right: 50px;
            width: 90%;

       }
    /* border don't increase width */ 

    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;

        
    }


    

    .games {

        position: absolute;
        left: 350px;
        top: 1px;
        
        border-left: grey 2px solid;

        max-width: 350px;

        /* width: 0 auto;  */

        -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;  
       
    }

.games img {

        width: inherit;
        margin: 0px 20px;

}
    .list-articles {

        position:  relative;
        max-width: 350px;
        top: 10px;

        border-right: grey 2px solid;

        overflow: auto; /* insert the scroll if the div it's bigger then content */

        /* I comment this part, cause I want the grey border
         go over the games left border 

         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box; */  

    }

}

.text {

    text-align: justify;
    padding-left: 50px;

    > img {

        max-width: 350px;
        

    }

}

.page-content {


    border-left: grey 2px solid;
    
}

/* section of photo on the About page */  /* PHOTO FOUNDERS */ 

.photo-founders {

 
    /* margin: 0 auto; */
    margin-left: 50px;
    position: relative;
//    border: green 5px solid; 

    > div {

    display: inline-block;

   
        max-width: 200px;
        text-align: center;
        color: #3A6B83;
        font-size: 20px;

    }


    > h1 {

        text-align: center;
        color: #3A6B83;
    }
}


/**
 * Site footer
 */


.footer {

    clear: both;
    position: center;
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
*games page
*/

.game-content {

 /*   width: 100%;
    height: 100%; */

    min-height: 1080px;
    overflow: hidden;
 /*   border: red 2px solid; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.game-wrapper {

    margin: 0 auto;
    margin-top: 100px;
    max-width: $content-width;

    text-align: center;

    position: relative;

}   


.text-hb{

    font-family: WashingtonD;
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    padding: 30px;

    > span {

        font-size: 25px;
    }

}

.justify-text{

    font-family: WashingtonD;
    font-size: 30px;
    color: #ffffff;
    text-align: justify;
    padding: 30px;

    > span {

        font-size: 25px;
    }

}

.thumbnail {

   > a { > img {

            width: 45%;
            height: 45%;
            margin-left: 10px;
            margin-bottom: 20px;
            }
        }    

}

.stores {

    > table {

        /*   border: red 1px solid; */

        margin: 0 auto;

    }

}


.logo-store-img{   /* images of store */

    max-width: 150px;
    margin: 10px;

}

.dev-button {

    max-width: 250px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    color: #3A6B83;
    font-family: $base-font-family;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    
    margin: 0 auto;
    max-width: 700px;

    border-left: grey 2px solid;
/*    border: red 2px solid; */
}
